Repository Dwolla/ecs-autoscaling-lifecycle-hooks: changes, and which Mergify rules are due for each by the changed paths.
All: Label aws-testkit PRs, Label core PRs, Label core-tests PRs, Label draining PRs, Label feral-testkit PRs, Label registrator-health-check PRs, Label smithy4s PRs, Label smithy4s-preprocessors PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=dwolla-oss-scala-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3, corretto@17)
  actions:
    merge: {}
- name: Label aws-testkit PRs
  conditions:
  - files~=^aws-testkit/
  actions:
    label:
      add:
      - aws-testkit
      remove: []
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label core-tests PRs
  conditions:
  - files~=^core-tests/
  actions:
    label:
      add:
      - core-tests
      remove: []
- name: Label draining PRs
  conditions:
  - files~=^draining/
  actions:
    label:
      add:
      - draining
      remove: []
- name: Label feral-testkit PRs
  conditions:
  - files~=^feral-testkit/
  actions:
    label:
      add:
      - feral-testkit
      remove: []
- name: Label registrator-health-check PRs
  conditions:
  - files~=^registrator-health-check/
  actions:
    label:
      add:
      - registrator-health-check
      remove: []
- name: Label smithy4s PRs
  conditions:
  - files~=^smithy4s/
  actions:
    label:
      add:
      - smithy4s
      remove: []
- name: Label smithy4s-preprocessors PRs
  conditions:
  - files~=^smithy4s-preprocessors/
  actions:
    label:
      add:
      - smithy4s-preprocessors
      remove: []

add XRay tracing using Natchez
  build.sbt
  core-tests/src/test/scala/com/dwolla/aws/autoscaling/LifecycleHookHandlerSpec.scala
  core-tests/src/test/scala/com/dwolla/aws/ecs/EcsAlgSpec.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/AutoScalingAlg.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/LifecycleHookHandler.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/model.scala
  core/src/main/scala/com/dwolla/aws/cloudformation/CloudFormationAlg.scala
  core/src/main/scala/com/dwolla/aws/ec2/Ec2Alg.scala
  core/src/main/scala/com/dwolla/aws/ecs/EcsAlg.scala
  core/src/main/scala/com/dwolla/aws/ecs/model.scala
  core/src/main/scala/com/dwolla/aws/model.scala
  core/src/main/scala/com/dwolla/aws/sns/SnsAlg.scala
  core/src/main/scala/com/dwolla/tracing/mtl/LocalSpan.scala
  draining/src/main/scala/com/dwolla/autoscaling/ecs/draining/TerminationEventHandler.scala
  draining/src/test/scala/com/dwolla/autoscaling/ecs/draining/TestApp.scala
  registrator-health-check/src/main/scala/com/dwolla/autoscaling/ecs/registrator/ScaleOutPendingEventHandler.scala
Due: Label core PRs, Label core-tests PRs, Label draining PRs, Label registrator-health-check PRs

Revert "add XRay tracing using Natchez"
  build.sbt
  core-tests/src/test/scala/com/dwolla/aws/autoscaling/LifecycleHookHandlerSpec.scala
  core-tests/src/test/scala/com/dwolla/aws/ecs/EcsAlgSpec.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/AutoScalingAlg.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/LifecycleHookHandler.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/model.scala
  core/src/main/scala/com/dwolla/aws/cloudformation/CloudFormationAlg.scala
  core/src/main/scala/com/dwolla/aws/ec2/Ec2Alg.scala
  core/src/main/scala/com/dwolla/aws/ecs/EcsAlg.scala
  core/src/main/scala/com/dwolla/aws/ecs/model.scala
  core/src/main/scala/com/dwolla/aws/model.scala
  core/src/main/scala/com/dwolla/aws/sns/SnsAlg.scala
  core/src/main/scala/com/dwolla/tracing/mtl/LocalSpan.scala
  draining/src/main/scala/com/dwolla/autoscaling/ecs/draining/TerminationEventHandler.scala
  draining/src/test/scala/com/dwolla/autoscaling/ecs/draining/TestApp.scala
  registrator-health-check/src/main/scala/com/dwolla/autoscaling/ecs/registrator/ScaleOutPendingEventHandler.scala
Due: Label core PRs, Label core-tests PRs, Label draining PRs, Label registrator-health-check PRs

Update Java SDK used by sdkman to 17.0.9-amzn
  .sdkmanrc
Due: none

avoid capturing ECS API responses on traces to hopefully stay under the 64KB X-Ray segment size limitation
  draining/src/main/scala/com/dwolla/autoscaling/ecs/draining/TerminationEventHandler.scala
  registrator-health-check/src/main/scala/com/dwolla/autoscaling/ecs/registrator/ScaleOutPendingEventHandler.scala
Due: Label draining PRs, Label registrator-health-check PRs

Update natchez-tagless to 0.2.5 to take advantage of best-effort tracing
  build.sbt
  core-tests/src/test/scala/com/dwolla/aws/autoscaling/LifecycleHookHandlerSpec.scala
  core/src/main/scala/com/dwolla/aws/autoscaling/LifecycleHookHandler.scala
  draining/src/main/scala/com/dwolla/autoscaling/ecs/draining/TerminationEventHandler.scala
  registrator-health-check/src/main/scala/com/dwolla/autoscaling/ecs/registrator/ScaleOutPendingEventHandler.scala
Due: Label core PRs, Label core-tests PRs, Label draining PRs, Label registrator-health-check PRs

instrument tracing without capturing inputs or outputs
  draining/src/main/scala/com/dwolla/autoscaling/ecs/draining/TerminationEventHandler.scala
  registrator-health-check/src/main/scala/com/dwolla/autoscaling/ecs/registrator/ScaleOutPendingEventHandler.scala
Due: Label draining PRs, Label registrator-health-check PRs

package both lambdas during CI
  .dwollaci.yml
Due: none

Downgrade log4j-slf4j-impl to 2.21.1 to avoid transitive update of slf4j-api
  build.sbt
Due: none

use a CQL query to narrow down the EC2 instances returned by listContainerInstances when searching by instance ID
  aws-testkit/src/main/scala/com/dwolla/aws/ecs/TestEcsAlg.scala
  core-tests/src/test/scala/com/dwolla/aws/ecs/EcsAlgSpec.scala
  core/src/main/scala/com/dwolla/aws/ecs/EcsAlg.scala
  core/src/main/scala/com/dwolla/aws/ecs/model.scala
  draining/src/test/scala/com/dwolla/autoscaling/ecs/draining/TestApp.scala
Due: Label aws-testkit PRs, Label core PRs, Label core-tests PRs, Label draining PRs

add more detailed tracing logs in the hope that knowing the trace IDs will help us find the traces in X-Ray
  core/src/main/scala/com/dwolla/aws/autoscaling/LifecycleHookHandler.scala
Due: Label core PRs

work around bug in EC2 query serialization when using DescribeInstances
  build.sbt
  core-tests/src/test/scala/com/dwolla/aws/ec2/Ec2AlgSpec.scala
  core/src/main/scala/com/dwolla/aws/ec2/model.scala
  core/src/main/scala/com/dwolla/aws/ecs/model.scala
  registrator-health-check/src/test/scala/com/dwolla/autoscaling/ecs/registrator/TestApp.scala
  smithy4s-preprocessors/src/main/scala/preprocessors/Ec2Preprocessor.scala
Due: Label core PRs, Label core-tests PRs, Label registrator-health-check PRs, Label smithy4s-preprocessors PRs

fix IAM action name to grant permission to describe stack resources
  serverless.yml
Due: none

TW-110: Target Java 21 for Lambda runtime and build
  .github/workflows/ci.yml
  .mergify.yml
  .sdkmanrc
  build.sbt
  serverless.yml
Due: none

ci: install sbt before first sbt invocation on GHA
  .github/workflows/ci.yml
  build.sbt
Due: none

fix(build): Scala 2.12.19 for smithy4s-preprocessors on JDK 21
  build.sbt
Due: none

ci(dwollaci): run SDKMAN + sbt under bash for Jenkins
  .dwollaci.yml
Due: none

Address review: upgrade sbt-typelevel 0.8.5 and fix Jenkins deploy
  .github/workflows/ci.yml
  .mergify.yml
  .nvmrc
  build.sbt
  deploy.sh
  project/plugins.sbt
Due: none

TW-110: Java 21 Lambda runtime and build (#303)
  .dwollaci.yml
  .github/workflows/ci.yml
  .mergify.yml
  .nvmrc
  .sdkmanrc
  build.sbt
  deploy.sh
  project/plugins.sbt
  serverless.yml
Due: none
